/* #duck {
  width: 400px;
} */


/* #darcy {
  width: 400px;
} */

img {
  display: block;
  width: 30%;
  /* margin-bottom: 30px; */
  /* border: 1px solid black; */
  /* border-radius: 100px; */
}

body {
  background-color: #ccc;
}


/* #duck {
  width: 250px;
  height: 500px;
} */


/* #darcy {
  width: 500px;
  height: 100px;
} */
